*,*::after,*::before {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

body {
    background:rgb(255,132,100);
    background: linear-gradient(
        90deg,
        rgba(255,132,100,1)0%,
        rgba(253,105,165,1)100%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card-body {
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

#title {
    margin: 15px;
    font-size: 70px;
}

.card-btn button {
    color:#262626;
    padding: 10px 35px;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    margin:0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

 #decrement {
    background-color: #c5b90d;

}
#decrement:hover {
    background-color: #f55505;
    color: white;

}

#increment {
    background-color: #0dc510;

}
#increment:hover {
    background-color: #034a51;
    color: white;

}

#reset {
    background-color: #f50909;

}
#reset:hover {
    background-color: #013205;
    color: white;

}